@model PaginatedList<BookDataDto>


@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>EBookStore</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link href="~/bookcss/normalize.css" rel="stylesheet" />
    <link href="~/bookcss/icomoon.css" rel="stylesheet" />
    <link href="~/bookcss/vendor.css" rel="stylesheet" />
    <link href="~/bookcss/style.css" rel="stylesheet" />
</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

    <div id="search-bar" class="search-bar">
        <form class="d-flex" asp-controller="Book" asp-action="SearchBook" method="get">
            <select class="form-control mr-2" name="SearchType" required>
                <option value="category">Search by Category</option>
                <option value="author">Search by Author</option>
                <option value="title">Search by Title</option>
            </select>
            <input class="form-control mr-2" type="search" placeholder="Enter your search" name="Keyword" required>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>


    @if (TempData["error"] != null)
    {
        <script>
            toastr.error('@TempData["error"]');
        </script>
    }

    @if (TempData["success"] != null)
    {
        <script>
            toastr.success('@TempData["success"]');
        </script>
    }

    
            @* *********************** *@
            <section id="popular-books" class="bookshelf py-5 my-5">
                <div class="container">
                    <div class="row">
                        @if (Model != null && Model.Any())
                        {
                            <a class="nav-link" asp-controller="Book" asp-action="CreateBook">Create Now</a>
                        <div class="col-md-12">

                            <div class="section-header align-center">
                                <div class="title">
                                    <span>Some quality items</span>
                                </div>
                                <h2 class="section-title">Popular Books</h2>
                            </div>
                               
                            <div class="tab-content">
                            <div id="all-genre" data-tab-content class="active">
                                <div class="row">
                                    @foreach (var tech in Model)
                                    {
                                        <div class="col-md-4">
                                            <div class="product-item">
                                                <figure class="product-style">
                                                    <img src="@tech.ImageUrl" alt="Books" class="product-item" style="height:450px">
                                                    <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                                        <a asp-action="BookDetails" asp-route-id="@tech.BookId" class="btn btn-primary btn-sm">Read More</a>
                                                    </button>
                                                </figure>
                                                <figcaption>
                                                    <h3>@tech.Title</h3>
                                                    <span>@tech.Author</span>
                                                    <p class="card-text">@Html.Raw(Html.Encode(tech.Description.Length > 100 ? tech.Description.Substring(0, 100) + "..." : tech.Description))</p>
                                                    <div class="item-price">@tech.Pages</div>
                                                </figcaption>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <ul class="navbar-nav me-auto">
                                                        @if (User.IsInRole("ADMIN"))
                                                        {
                                                            <a href="@Url.Action("DeleteBook", "Book", new { bookId = tech.BookId })" class="deletetech-link btn btn-danger">Delete</a>
                                                            <a href="@Url.Action("EditBook", "Book", new { bookId = tech.BookId })" class="updatetech-link btn btn-danger">Update</a>
                                                        }
                                                    </ul>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                            </div>
                           
                            <div class="d-flex justify-content-center mt-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        @if (Model.HasPreviousPage)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="?page=@(Model.PageIndex - 1)" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item disabled">
                                                <span class="page-link" aria-hidden="true">&laquo;</span>
                                            </li>
                                        }

                                        @for (int i = 1; i <= Model.TotalPages; i++)
                                        {
                                            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                                                <a class="page-link" href="?page=@i">@i</a>
                                            </li>
                                        }

                                        @if (Model.HasNextPage)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="?page=@(Model.PageIndex + 1)" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item disabled">
                                                <span class="page-link" aria-hidden="true">&raquo;</span>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        }
                        else
                        {
                            <p>Please Login First!!</p>
                            <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                        }
                    </div>
                </div>
            </section>
            @* *********************** *@

        
        <partial name="_footer"></partial>
    
    <script src="~/bookjs/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="~/bookjs/plugins.js"></script>
    <script src="~/bookjs/script.js"></script>
</body>

</html>




