@model PaginatedList<TechDataDto>

@{
    ViewData["Title"] = "Contact Us";
    Layout = null; // Disable layout for this view
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Techbeyondthoughts - Technologies Beyond Thoughts</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/css/style.css">
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy8RBzoZNPZ9p4FfF5c9lvoG99bC2ByQ5b" crossorigin="anonymous">
</head>
<body class="is-boxed has-animations">

    @if (TempData["error"] != null)
    {
        <script>
            toastr.error('@TempData["error"]');
        </script>
    }

    @if (TempData["success"] != null)
    {
        <script>
            toastr.success('@TempData["success"]');
        </script>
    }
    <div class="body-wrap">
        <header id="header" class="alt">
            <a asp-controller="Home" asp-action="Index" class="logo">
                <strong>TechBeyondThoughts</strong>
            </a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>
        <nav id="menu">
            <ul class="links">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="LandingPage">Landing</a></li>
                <li><a asp-controller="Tech" asp-action="TechIndex">Explore</a></li>
                @if (User.Identity.IsAuthenticated)
                {

                    @if (User.IsInRole("ADMIN"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Tech" asp-action="CreateTech">Create</a>
                        </li>
                    }
                }
                <!-- Add more navigation links as needed -->
                <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                <li><a asp-controller="Home" asp-action="Faq">FAQ's</a></li>
            </ul>

            <ul class="actions stacked">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Auth" asp-action="Login" class="button fit">Log In</a></li>
                    <li><a asp-controller="Auth" asp-action="Register" class="button fit">Register</a></li>
                }
                else
                {
                    <li><a href="#" class="button fit">Hello, @User.Identity.Name</a></li>
                    <li><a asp-controller="Auth" asp-action="Logout" class="button fit">Logout</a></li>
                }
            </ul>
        </nav>
        <main>
            <section class="features section">
                <div class="container">
    <div class="features section">
        @if (Model != null && Model.Any())
        {
            <div class="features-inner section-inner has-bottom-divider">
                @for (var i = 0; i < Model.Count; i += 3)
                {
                    <div class="features-row">
                        @for (var j = i; j < Math.Min(i + 3, Model.Count); j++)
                        {
                            var tech = Model[j];
                            <div class="features-wrap">
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon">
                                            <img src="@tech.ImageUrl" alt="Feature 01">
                                        </div>
                                        <h4 class="feature-title mt-24">@tech.Title</h4>
                                        <p class="text-sm mb-0">@Html.Raw(Html.Encode(tech.Description.Length > 100 ? tech.Description.Substring(0, 100) + "..." : tech.Description))</p>
                                        <!-- Buttons -->
                                        <a asp-action="techDetails" asp-route-id="@tech.Id" class="btn btn-primary btn-sm">Read More</a>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <ul class="navbar-nav me-auto">
                                                @if (User.IsInRole("ADMIN"))
                                                {
                                                    <a href="@Url.Action("DeleteTech", "Tech", new { techId = tech.Id })" class="deletetech-link btn btn-danger">Delete</a>
                                                    <a href="@Url.Action("EditTech", "Tech", new { techId = tech.Id })" class="updatetech-link btn btn-danger">Update</a>

                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        @if (Model.HasPreviousPage)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="?page=@(Model.PageIndex - 1)" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item disabled">
                                                <span class="page-link" aria-hidden="true">&laquo;</span>
                                            </li>
                                        }

                                        @for (int i = 1; i <= Model.TotalPages; i++)
                                        {
                                            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                                                <a class="page-link" href="?page=@i">@i</a>
                                            </li>
                                        }

                                        @if (Model.HasNextPage)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="?page=@(Model.PageIndex + 1)" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item disabled">
                                                <span class="page-link" aria-hidden="true">&raquo;</span>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        }
                        else
                        {
                            <p>Please Login First!!</p>
                        }
                    </div>
                </div>

            </section>
        </main>
        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
                            <img class="header-logo-image" src="~/dist/images/logo.svg" alt="Techbeyondthoughts Logo">
                        </a>
                    </div>
                    <div class="footer-copyright">&copy; @DateTime.Now.Year Techbeyondthoughts, all rights reserved</div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/dist/js/main.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</body>
</html>